body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: linear-gradient(); */
  background-color: #bd4f6c;
  background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
}
header {
  overflow: hidden;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}
header .navbar-brand {
  margin-left: 3em;
  color: wheat;
}

.nav-link {
  color: white;
}

header .nav-link:hover {
  color: black;
}
header .row .col-md-5 {
  padding: 4.2vmin 1vmin;
}
header .row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
  color: white;
}

header .row .col-md-5 img {
  width: 90%;
}
header .container .row .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 1px;
}
header .container .row .col-md-7 h1 {
  font-size: 8vmin;
  font-weight: bold;
  padding: 0.1em 0em;
}
header .container .row .col-md-7 p {
  padding: 1vmin 5vmin;
}

header .container .row .col-md-7 button {
  border-radius: 30px;
  font-weight: bold;
border:none;
outline:none;
}
header .container .row .col-md-7 button:hover {
  background: brown;
color:white;
border:none;
outline:none;
}
